/* MAIN */

:root {
    --primary: #ec2300;
    --success: #00ff5f;
    --dark: #111;
    --bg_image: url('./images/shopping-4000414_1920.jpg');
    --white: #fff
}
  

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    word-break: break-word;
    background: var(--bg_image);
    background-attachment: fixed;
    background-size: 100vh;
    padding: 5vh 0;
    color: var(--white);
}

img, iframe {
    max-width: 100%;
}

/* COLORS */


.primary {
    color: var(--primary);
}

.success {
    color: var(--success);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-success {
    background-color: var(--success);
}

.bg-dark {
    background-color: var(--dark);
}

/* CONTAINERS */

.container {
    padding: 0.5em;
}

/* SIZES */

.big{
    font-size: 3em;
}

/* OTHERS */

button {
    padding: 5%;
    font-size: 1.3em;
    color: white;
    border: none;
    border-radius: 10px;
}

ul {
    text-align: left;
    list-style: none;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0.5em;
}

