html {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: url('./images/shopping-4000414_1920.jpg');
    background-attachment: fixed;
    color: white;
}

h1{
    color: rgb(250, 0, 0);
}

header p {
    font-size: 1.3em;
}

img, iframe {
    max-width: 100%;
}

iframe {
    height: 50vw;
    width: 100%;
}

img {
    width: 100%;
}

section {
    margin: 10%;
}

section * {
    margin: 2%;
}

header {
    margin: 1rem;
}

.box {
    background-color: black;
    margin: 0;
    padding: 10%;
}

button {
    padding: 1rem 1rem;
    font-size: 1.2rem;
    background-color: rgb(70, 192, 0);
    border: none;
    color: white;
    border-radius: 10px;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

ul li::before {
    content: '►  ';
    color: red;
}

.price-before {
    font-size: 3rem;
}

.price-after {
    font-size: 3rem;
}

.green {
    color: rgb(0, 235, 0);
}

.red {
    color: red;
}

.garantia {
    width: 30vw;
}

@media(min-width: 700px){
    .flex {
        display: flex;
        align-items: center;
    }

    iframe {
        height: 40vh;
    }

    .box {
        padding: 2%;
    }
}