body {
    background: url('imagens/shopping-4000414_1920.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-color: #000f;
    color: White;
}

.black-background {
    background-color: #000f;
    position: fixed;
    height: 100vh;
    z-index: 20;
}

.shadow-text {
    text-shadow: 5px 3px 1px black
}

.fiery-gradient {
    background: #f85032;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.black-transparent-background {
    background-color: #0007;
}

.darker-transparent-background {
    background-color: #000a;
}

.soft-shadow {
    text-shadow: 2px 2px 7px black;
}

.red-banner {
    background-color: red;
    border: 5px solid #f55;
}

.small-box {
    width: 10em;
    height: 10em;
    background-color: red;
}